body {
  font-family: 'Arial', sans-serif;
}
h1, h2, h3 {
  font-family: 'Dancing Script', cursive;
}
h1 {
  font-size: 4.5em;
  color: #39FF14;
}
h2 {
  font-size: 3em;
  color: #2196F3;
}
h3 {
  font-size: 1.5em;
  color: #FF5722;
}
#projects .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  gap: 30px;
  justify-content: center;    /* centers the whole grid */
}

